<p id="notice"><%= notice %></p>

<p>
  <b>A or b:</b>
  <%= @announcement.a_or_b %>
</p>

<p>
  <b>Content:</b>
  <%= @announcement.content %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
