<h1>Edit Article</h1>

<% form_for @article do |f| %>
	<p><%= f.label :title %><%= f.text_field :title %></p>
	<p><%= f.label :body %><%= f.text_area :body %></p>
	<p><%= f.submit "Save Article Changes" %></p>
<% end %>