<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_news').addClass('active');

});

</script>

<div class="container" id="articleview">
	
	<!--<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Description</th>
						<th>Date Created</th>
					</tr>
				</thead>
				<tbody>
				  <% @articles.each do |article| %>
				  	<tr>
					  	<td><%= link_to article.title, article %></td>
						<td><%= article.author %></td>
						<td><%= article.description %></td>
						<td><%= article.created_at.strftime("%m/%d/%Y") %></td>
					</tr>
				  <% end %>
				</tbody>
	</table>-->
	<div class="span2"> <!--Space for categories sidebar-->
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#all" data-toggle="tab">All Articles</a></li>
			<li><a href="#reviews" data-toggle="tab">Reviews</a></li>
			<li><a href="#sports" data-toggle="tab">Sport News</a></li>
			<li><a href="#clubs" data-toggle="tab">Club News</a></li>
			<li><a href="#print" data-toggle="tab">Print Issues</a></li>
		</ul>
	</div>
	<div class="span9 offset">
		<div class="tab-content">
			<h1 style="text-align:center;">Tornado News Articles</h1>
			<div class="tab-pane limited-width active" id="all">
				<%= will_paginate @paginated_articles, style: "text-align: right;"  %>
				<% @paginated_articles.each do |article| %>
					<div class="well">
					    <h2 style="text-align: center;">
					      <%= article.title %>
					    </h2>
					    <h4>By <%= article.author %><div style="text-align: right;">Published <%= article.created_at.strftime('%B %d, %Y')%></div></h4>
					      <%=raw article.body %>
					</div>
				<% end %>
				<%= will_paginate @paginated_articles, style: "text-align: right;"  %>
			</div>
			<div class="tab-pane limited-width" id="reviews">
				<%= will_paginate @paginated_reviews, style: "text-align: right;"  %>
				<% @paginated_reviews.each do |article| %>
					
						<div class="well">
						    <h2 style="text-align: center;">
						      <%= article.title %>
						    </h2>
						    <h4>By <%= article.author %><div style="text-align: right;">Published <%= article.created_at.strftime('%B %d, %Y')%></div></h4>
						      <%=raw article.body %>
						</div>
				<% end %>
				<%= will_paginate @paginated_reviews, style: "text-align: right;"  %>
			</div>
			<div class="tab-pane limited-width" id="sports">
				<%= will_paginate @paginated_sports, style: "text-align: right;"  %>
				<% @paginated_sports.each do |article| %>
					
						<div class="well">
						    <h2 style="text-align: center;">
						      <%= article.title %>
						    </h2>
						    <h4>By <%= article.author %><div style="text-align: right;">Published <%= article.created_at.strftime('%B %d, %Y')%></div></h4>
						      <%=raw article.body %>
						</div>
					
				<% end %>
				<%= will_paginate @paginated_sports, style: "text-align: right;"  %>
			</div>
			<div class="tab-pane limited-width" id="clubs">
				<%= will_paginate @paginated_clubs, style: "text-align: right;"  %>
				<% @paginated_clubs.each do |article| %>
					
						<div class="well">
						    <h2 style="text-align: center;">
						      <%= article.title %>
						    </h2>
						    <h4>By <%= article.author %><div style="text-align: right;">Published <%= article.created_at.strftime('%B %d, %Y')%></div></h4>
						      <%=raw article.body %>
						</div>
					
				<% end %>
				<%= will_paginate @paginated_clubs, style: "text-align: right;"  %>
			</div>
			<div class="tab-pane limited-width" id="print">
				<%= will_paginate @paginated_print_issues, style: "text-align: right;" %>
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Issue</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<% @paginated_print_issues.each do |issue| %>
							<tr>
							<td><%= issue.pubdate.strftime('%B %d, %Y') %></td>
							<td><a href="<%= issue.link %>"><%= issue.title %></a></td>
							<td><%= issue.description %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
  	</div>
</div>
