<h1>New Article</h1>

<% form_for @article do |f| %>
	<p><%= f.label :title %><%= f.text_field :title %></p>
	<p><%= f.label :body %><%= f.text_area :body %></p>
	<p><%= f.submit "Add Article" %></p>
<% end %>