<% content_for :title do %>Sports<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "sports_index", :media => "all" %>

<% end %>
<% content_for :js do %>
  <script type="text/javascript">
    $(function(){
    	$time = 150;
    	$(".sport").hover(function() {
    	   console.log("Hover activated");
    		$(this).find(".inner").addClass("tint", $time);
    		$(this).find(".holder").fadeIn($time);
    		$(this).find("h2").addClass("faded_text", $time);
    	}, function() {
    		$(this).find('.inner').removeClass("tint", $time);
    		$(this).find('.holder').fadeOut($time);
    		$(this).find('h2').removeClass("faded_text", $time);
    	});
    	$('#nav_sports').addClass('active');
    	$('#nexteventModal').appendTo("body").modal('hide');
    });
  </script>
<% end %>
<div id="center">
	<ul class="nav nav-tabs affix-top container" data-spy="affix" data-offset-top="60" id="seasonsswitcher">
		<li id="firsttab"><a></a></li>
		<li><a href="#fall" data-toggle="tab">Fall</a></li>
		<li class="active"><a href="#winter" data-toggle="tab">Winter</a></li>
		<li><a href="#spring" data-toggle="tab">Spring</a></li>
	</ul>
	<div class="row-fluid">
		<div class="span8">
			<div class="tab-content">
				<div class="tab-pane" id="fall">
					<% @fall.each do |sport| %>
					<div class="sport" style="background-image: url( <%= image_path sport.banner.url(:full) %> );">
						<div class="inner">
					  		<h2><%= sport.title %></h2>
				  			<div class="holder">
				  				<div class="pull-left">
									<h3><a href="/sports/<%= sport.slug %>">Click to view sport</a></h3>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<div class="tab-pane active" id="winter">
					<% @winter.each do |sport| %>
					<div class="sport" style="background-image: url( <%= image_path sport.banner.url(:full) %> );">
						<div class="inner">
					  		<h2><%= sport.title %></h2>
				  			<div class="holder">
				  				<div class="pull-left">
									<h3><a href="/sports/<%= sport.slug %>">Click to view sport</a></h3>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<div class="tab-pane" id="spring">
					<% @spring.each do |sport| %>
					<div class="sport" style="background-image: url( <%= image_path sport.banner.url(:full) %> );">
						<div class="inner">
					  		<h2><%= sport.title %></h2>
				  			<div class="holder">
				  				<div class="pull-left">
									<h3><a href="/sports/<%= sport.slug %>">Click to view sport</a></h3>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
		  </div><!-- end "tab-content" -->
		</div>
		<div class="span4 hidden-phone" id="recent_events">
			<div class="well">
			  <h3>Live Stream</h3>

			  <% unless @next_event.nil? %>
			  	<h5><%= @next_event.title %></h5>
			  	<iframe src="http://www.highschoolcube.com/embed/<%= @next_event.stream_id %>" width="300" height="250" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe><div></div>
			  	<a href="#nexteventModal" role="button" class="btn largen" data-toggle="modal">View Larger</a>

			  	<div id="nexteventModal" class="modal hide fade nextmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel"><%= @next_event.title %></h3>
				  </div>
				  <div class="modal-body">
				    <iframe src="http://www.highschoolcube.com/embed/<%= @next_event.stream_id %>" width="640" height="460" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
				  </div>
				  
				</div>

			  <% else %>
			    <h4>The live player is unavailable. Please check back later.</h4>
			  <% end %>

			</div>
	  </div>
	  </div>
  </div>
</div>
