<% content_for :title do %><%= @sport.title %><% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "sports_page", :media => "all" %>
  <style type="text/css">
    #title { 
      background-image: url( <%= @sport.banner.url(:full) %> );
    }
    #favorite_button i {
      margin-top: 9px;
    }
    .favorite i {
      color: gold !important;
      text-shadow: 0px 0px 2px rgba(79,79,79,0.64);
    }
    i:hover {
      text-shadow: 0px 0px 2px black;
    }
  </style>
<% end %>
<% content_for :js do %>
  <script>
    $(function(){
      $('#nav_sports').addClass('active');
      $('i.icon-star').tooltip({
        title: 'Favorite this Page',
        delay: { show: 700, hide: 0 },
      });
    });
    var sport_id = <%= Sport.find_by_slug(params[:slug]).id %>;
  </script>
<% end %>
<% content_for :js_bottom do %>
  <% javascript_include_tag 'sport/page' %>
<% end %>

<div class="container" id="center">
	<div class="row-fluid" id="titleRow">
		<div class="span12" id="title">
			<h1><%= @sport.title %></h1>
		</div>
	</div>
	<ul class="nav nav-tabs limited-width">
		<li class="active"><a href="#info" data-toggle="tab">Information</a></li>
		<li><a href="#photos" data-toggle="tab">Photos</a></li>
		<li class="disabled"><a href="#videos" data-toggle="tab">Videos</a></li>
		<% if signed_in? %>
		  <li class="pull-right <% if !current_user.favorites.find(:all, :conditions => [ 'favoritable_type = ? AND favoritable_id = ?', 'sport', Sport.find_by_slug(params[:slug]).id ]).empty? %>favorite<% end %>" id="favorite_button"><i class="icon-star"></i></li>
		<% end %>
		<li class="pull-right"><a href="#schedule" data-toggle="tab">Schedule</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active limited-width" id="info">
			<%=raw @sport.alert %>
			<p><%=raw @sport.content %></p>
		</div>
		<div class="tab-pane limited-width" id="photos">
			<div class="row-fluid">
				<div class="span3">
					<a href="http://placehold.it/700x700" class="lightbox" title="Test"><img src="http://placehold.it/186x150" /></a>
				</div>
				<div class="span3">
					<a href="http://placehold.it/700x700" class="lightbox" title="Test2"><img src="http://placehold.it/186x150" /></a>
				</div>
				<div class="span3">
					<a href="http://placehold.it/700x700" class="lightbox" title="Test3"><img src="http://placehold.it/186x150" /></a>
				</div>
				<div class="span3">
					<a href="http://placehold.it/700x700" class="lightbox" title="Test4"><img src="http://placehold.it/186x150" /></a>
				</div>
			</div>
		</div>
		<div class="tab-pane limited-width" id="videos">
			<div class="well empty-section">
				<h2>Nothing Available</h2>
			</div>
		</div>
		<div class="tab-pane limited-width" id="schedule">
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Opponent</th>
						<th>Home/Away?</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
				  <% @sport.games.each do |game| %>
				  <tr <% if game.status == "win"%> class="success" <% elsif game.status == "loss" %> class="error" <% end %>>
				    <td><%= game.date.strftime("%a, %b %d, %Y") %></td>
				    <td><%= game.time.strftime("%I:%M %p") %></td>
				    <td><%= game.opponent %></td>
				    <td><% if game.is_home %>Home<% else %>Away<% end %></td>
				    <td><%= game.score %>
				  </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
