<h1 style="float: left;">Listing notifications</h1>
<a href="http://www.parse.com/apps/hf-navigator--4/push_notifications/new" class="pull-right btn" style="margin-top: 1.5em;">Send through Parse</a>
<%= link_to 'New Notification', new_notification_path, :class => "pull-right btn", :style => "margin-top: 1.5em;" %>

<% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>

<div class="well">
<table class="table">
  <tr>
    <th>Created At</th>
    <th>Notification</th>
  </tr>

<% @notifications.reverse.each do |notification| %>
  <tr>
    <td><%= notification.created_at%></td>
    <td><%= notification.content%></td>
   </tr>
<% end %>
</table>
</div>

<br />


