 <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2">Welcome to The Harbinger</h1>
        <div class="row center">
          <h5 class="header col s12 light">The official website of the Tornado News Team</h5>
          <% flash.each do |type, message| %>
            
              <h5 class="header col s12 yellow"><%= message %></h5>
            
          <% end %>

        </div>
        <!-- <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light hf-green lighten-1">Get Started</a>
        </div> -->
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag "entrance.png" %><div>
    </div>
  </div>
</div> <!-- These divs were needed. I dont know, nor do i want to know why -->
  


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        
        
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <div class="icon-block">
                <% if @day.aorb == "A" %>

                <h2 class="center">A</h2>
                <h5 class="center">Today is an A Day</h5>

                <% elsif @day.aorb == "B" %>

                <h2 class="center">B</h2>
                <h5 class="center">Today is a B Day</h5>

                <% elsif @day.aorb == "none" %>

                <h2 class="center">-</h2>
                <h5 class="center">No School Today</h5>

                <% end %>




              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m8">
          <div class="icon-block center">
            <h5 class="center">Harbinger Bulletin:</h5>
            <%=raw @announcement.content %>            
          </div>
        </div>
      </div> <!-- End Row --><hr>

      <div class="row">
        <div class="col s12 m5">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="color: black;">Recent Events</span>
              <%=raw @recent.content %>
            </div>
          </div>
        </div>
        <div class="col s12 offset-m2 m5">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="color: black;">Upcoming Events</span>
             <%=raw @upcoming.content %>
            </div>
          </div>
        </div>

      </div>




    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">View our sporting events live on The Cube!</h5>
          <a class="waves-effect waves-light btn-large hf-green">Watch now</a>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "football-blur.jpg", class: 'blur-image' %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4>Recent Articles:</h4>
            <div class="card col l4">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#" class="text-hf-green waves-effect waves-green btn-flat">Read More</a>
              </div>
            </div>
            <div class="card col l4">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#" class="text-hf-green waves-effect waves-green btn-flat">Read More</a>
              </div>
            </div>
            <div class="card col l4">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#" class="text-hf-green waves-effect waves-green btn-flat">Read More</a>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
