<% content_for :css do %>
  <%= stylesheet_link_tag "home/index", :media => "all" %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "home" %>
<% end %>

<div id="all">
  <div class="container-fluid" id="stuff">
  	<div class="row-fluid"><!-- header -->
  		<div class="span12" id="header">
  			<h1>Harborfields High School</h1>
  		</div>
  	</div><!-- end header -->
  	<div class="row-fluid" id="announcements">
  		<h3>Today's Announcements</h3>
  		 <p><%= @announcement.content %></p>
  	</div>
  	<div id="memos">
      <div id="slider">
  	    <% @memos.each do |memo| %>
  	      <% if memo.is_image %>
  	      
  	      <% else %>
  	      <div class="memo" style="background-color: <%= memo.bg_color %>; color: <% unless memo.text_color.nil? %><%= memo.text_color %><% else %>black<% end %>;">
  	        <h2><%= memo.title %></h2>
  	        <p><%= memo.content %></p>
  	      </div>
  	      <% end %>
  	    <% end %>
      </div>
  	  <%= image_tag('buttons/Next.png', id: "advance") %>
  	  <%= image_tag('buttons/Prev.png', id: 'reverse') %>
  	  </div>
  	<div class="row-fluid" id="events">
  		<div class="span6" id="upcoming">
  			<h3>Upcoming Events</h3>
  			<%=raw @upcoming.content %>
  		</div>
  		<div class="span6" id="recent">
  			<h3>Recent Events</h3>
  			<%=raw @recent.content %>
  		</div>
  	</div>
  </div>
</div>
