<!DOCTYPE html>
<html>
<head>
	<title>The Harbinger Online</title>
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="img/Apple-Icon.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/Apple-Icon-Retina.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<%= stylesheet_link_tag "home/index", :media => "all" %>
	<%= javascript_include_tag "home" %>

	<script type="text/javascript">
		$(function(){
			$('#nav_home').addClass('active');
		});
	</script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35687930-1']);
		_gaq.push(['_trackPageview']);
		(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	</script>

</head>

<body>
	
	<div id="content">

		<%= render 'layouts/header' %>
			
		<div class="container" id="all">
			<div class="container-fluid" id="stuff">
				<div class="row-fluid"><!-- header -->
					<div class="span12" id="header">
						<h1>Harborfields High School</h1>
					</div>
				</div><!-- end header -->
				<div class="row-fluid" id="announcements">
					<h3>Today's Announcements</h3>
					 <p><%= @announcement.content %></p>
				</div>
				<div id="memos">
			    <div id="slider">
				    Test.
			    </div>
				  <div id="advance"></div>
				  <div id="reverse"></div>
				</div>
				<div class="row-fluid" id="events">
					<div class="span6" id="upcoming">
						<h3>Upcoming Events</h3>
						<p>EVENTS</p>
					</div>
					<div class="span6" id="recent">
						<h3>Recent Events</h3>
						<p>OTHER EVENTS</p>
					</div>
				</div>
			</div>
		</div>		
		<div id="footer_spacer"></div>
		
	</div><!-- end "content"-->

	<%= render 'layouts/footer' %>

</body>
</html>