
<script type="text/javascript">

$(function() {
  // Add "active" to nav bar
  $('#nav_stream').addClass('active');

});

</script>


<div class="container well" style="margin-top: 20px">
	<div class="span8" style="text-align: center;">
		<div class="tab-content">
			<div class="tab-pane active">
				<h2>Choose a stream on the right to watch</h2>
			</div>
			<% @all_streams.each do |stream| %>
				<div class="tab-pane" id="<%= stream.id %>">
					<h1 id="streamtitle"><%= stream.title %></h1>
					<iframe src="http://www.highschoolcube.com/embed/<%= stream.stream_id %>" width="600" height="400" frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
				</div>
			<% end -%>
		</div>
	</div>
	<div class="span3 well">
		<h3 style="text-align: center;">All Events</h3>
		<ul class="nav nav-pills nav-stacked">
		<% @all_streams.reverse.each do |stream| %>
			<li><a href="#<%= stream.id %>" data-toggle="tab"><%= stream.title %></a></li>
		<% end -%>
		</ul>
	</div>
</div>
