<h1>Listing upcoming_events</h1>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @upcoming_events.each do |upcoming_event| %>
  <tr>
    <td><%= upcoming_event.id %></td>
    <td><%= upcoming_event.content %></td>
    <td><%= link_to 'Show', upcoming_event %></td>
    <td><%= link_to 'Edit', edit_upcoming_event_path(upcoming_event) %></td>
    <td><%= link_to 'Delete', upcoming_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upcoming event', new_upcoming_event_path %>
