<% content_for :css do %>
  <style type="text/css">
  .style1 {
    color: black;
  }
    .style2 {
    color: red;
  }
    .style3 {
    color: green;
  }
    .style4 {
    color: purple;
  }
    .style5 {
    color: blue;
  }
  </style>
<% end %>

<%= form_for(@bus) do |f| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% @bus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span3"><%= f.label "Extra", class: "style1"%><%= f.text_field :one %></div>
    <div class="span3"><%= f.label :two, class: "style1"%><%= f.text_field :two %></div>
    <div class="span3"><%= f.label :three, class: "style1"%><%= f.text_field :three %></div>
    <div class="span3"><%= f.label :four, class: "style1"%><%= f.text_field :four %></div>
    </div>
  <div class="row">
    <div class="span3"><%= f.label :five, class: "style1"%><%= f.text_field :five %></div>
    <div class="span3"><%= f.label :six, class: "style1"%><%= f.text_field :six %></div>
    <div class="span3"><%= f.label :seven, class: "style1"%><%= f.text_field :seven %></div>
    <div class="span3"><%= f.label :eight, class: "style1"%><%= f.text_field :eight %></div>
  </div>
   <div class="row">
    <div class="span3"><%= f.label :nine, class: "style1"%><%= f.text_field :nine %></div>
    <div class="span3"><%= f.label :ten, class: "style2"%><%= f.text_field :ten %></div>
    <div class="span3"><%= f.label :eleven, class: "style2"%><%= f.text_field :eleven %></div>
    <div class="span3"><%= f.label :twelve, class: "style2"%><%= f.text_field :twelve %></div>
  </div>
   <div class="row">
    <div class="span3"><%= f.label :thirteen, class: "style3"%><%= f.text_field :thirteen %></div>
    <div class="span3"><%= f.label :fourteen, class: "style3"%><%= f.text_field :fourteen %></div>
    <div class="span3"><%= f.label :fifteen, class: "style4"%><%= f.text_field :fifteen %></div>
    <div class="span3"><%= f.label :sixteen, class: "style4"%><%= f.text_field :sixteen %></div>
  </div>
   <div class="row">
    <div class="span3"><%= f.label :seventeen, class: "style4"%><%= f.text_field :seventeen %></div>
    <div class="span3"><%= f.label :eighteen, class: "style4"%><%= f.text_field :eighteen %></div>
    <div class="span3"><%= f.label :nineteen, class: "style5" %><%= f.text_field :nineteen %></div>
    <div class="span3"><%= f.label :twenty, class: "style5" %><%= f.text_field :twenty %></div>
  </div>
  <div class="row">
    <%= f.label "No Map", class: 'control-label' %>
    <%= f.check_box :outofservice, class: "checkbox" %>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
