<head>
  <style type="text/css">
    #map {
      background-image: url(<%= image_path('map.png') %>);
      background-repeat: no-repeat;
      display: block;
      margin: 0 auto;
      text-align: center;
      margin-top: .2em;
      width: 763px;
      height: 447px;
      position: relative;
    }
    h1 {
      text-align: center;
    }
    .bus {
      color: black;
      background-color: gold;
      width: 35px;
      position: absolute;
      border: solid black 1px;
    }
    #one {
      left: 690px;
      top: 275px;
    }
    #two {
      left: 680px;
      top: 305px;
    }
    #three {
      left: 670px;
      top: 335px;
    }
    #four {
      left: 640px;
      top: 355px;
    }
  </style>
  <script type="text/javascript">
    $(function() {
      if $('.bus').text().length > 0 {
        $(this).css('background-color', 'gold');
      }
    });
  </script>
</head>
<div class="row">
  <div class="span12">
    <h1>Bus Map for <%= @bus.created_at %></h1>
    <div id="map">
      <div class="bus" id="one"><%= @bus.one %></div>
      <div class="bus" id="two"><%= @bus.two %></div>
      <div class="bus" id="three"><%= @bus.three %></div>
      <div class="bus" id="four"><%= @bus.four %></div>
      <div class="bus" id="five"><%= @bus.five %></div>
      <div class="bus" id="six"><%= @bus.six %></div>
      <div class="bus" id="seven"><%= @bus.seven %></div>
      <div class="bus" id="eight"><%= @bus.eight %></div>
      <div class="bus" id="nine"><%= @bus.nine %></div>
      <div class="bus" id="ten"><%= @bus.ten %></div>
      <div class="bus" id="eleven"><%= @bus.eleven %></div>
      <div class="bus" id="twelve"><%= @bus.twelve %></div>
      <div class="bus" id="thirteen"><%= @bus.thirteen %></div>
      <div class="bus" id="fourteen"><%= @bus.fourteen %></div>
      <div class="bus" id="fifteen"><%= @bus.fifteen %></div>
      <div class="bus" id="sixteen"><%= @bus.sixteen %></div>
      <div class="bus" id="seventeen"><%= @bus.seventeen %></div>
      <div class="bus" id="eighteen"><%= @bus.eighteen %></div>
      <div class="bus" id="nineteen"><%= @bus.nineteen %></div>
    </div>
  </div>
</div>