  <div class="navbar navbar-static-top">
  	<div class="navbar-inner">
    	<div class="container">
  			<a type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</a>
  			<a class="brand" href="/">The Harbinger Online</a>
  			<div class="nav-collapse">
  				<ul class="nav">
  					<li id="nav_home"><%= link_to "Home", "/" %></li>
  					<li id="nav_news"><a href="#">News</a></li>
  					<li id="nav_sports"><%= link_to "Sports", sports_path %></li>
  					<li id="nav_clubs"><%= link_to "Clubs", clubs_path %></li>
  				</ul>
  				<ul class="nav pull-right visible-desktop">
					<% if signed_in? %>
						<li class="dropdown">
  						<a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= image_tag current_user.avatar.url(:header), class: 'nav-avatar' %> <%= current_user.name %><b class="caret"></b></a>
  						<ul class="dropdown-menu">
  						  <% if can? :manage, :all %>
                  <li><%= link_to "Admin Interface", "/admin" %></li>
  						    <li class="divider"></li>
                <% end %>
  						  <li><%= link_to "Log out", destroy_user_session_path%></li>
  						</ul>
						</li>
				  <% else %>
				  	<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In<b class="caret"></b></a>
						<div class="dropdown-menu" id="user-nav-box" style="position: absolute;">
              <h3 style="text-align: center">Sign In</h1>
              <%= form_for(:user, :as => :user, :url => session_path(:user), html: { class: 'form-horizontal' }) do |f| %>
                <div class="control-group">
                  <%= f.label :email, class: 'control-label' %>
                  <div class="controls">
                    <%= f.text_field :email, placeholder: 'Email Address' %>
                  </div>
                </div>
                <div class="control-group">
                  <%= f.label :password, class: 'control-label' %>
                  <div class="controls">
                    <%= f.password_field :password, placeholder: 'Password' %>
                  </div>
                </div>
                <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
              <% end %><!-- end of form -->             
              <div class = "link">
                <p>New user? <%= link_to "Sign up now!", new_user_registration_path %></p>
              </div>
						</div>
						</li>
				  <% end %>
				  </ul>
  		  </div>
  		</div>
  	</div>
  </div>