<div class="navbar navbar-static-top" style = "border-bottom: #629b63; z-index: 0;">
    <div class = "navbar-inner">
      <div class = "container">
          <ul class = "nav pull-left">
              <li class="dropdown" id="menu1"><!-- Starts the "Arts" dropdown menu-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Arts
                      <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                       <% @arts.each do |club| %> 
                       <li><a href="/clubs/<%= club.id %>"><%= club.name %></a></li>
                       <% end %>  
                  </ul>
              </li><!--Ends dropdown menu-->

              <li class="dropdown" id="menu1"><!-- Starts the "Arts" dropdown menu-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Academics
                      <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                       <% @academic.each do |club| %> 
                       <li><a href="/clubs/<%= club.id %>"><%= club.name %></a></li>
                       <% end %>  
                  </ul>
              </li><!--Ends dropdown menu-->
              <li class="dropdown" id="menu1"><!-- Starts the "Arts" dropdown menu-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Community Service
                      <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                       <% @community.each do |club| %> 
                       <li><a href="/clubs/<%= club.id %>"><%= club.name %></a></li>
                       <% end %>  
                  </ul>
              </li><!--Ends dropdown menu-->
              <li class="dropdown" id="menu1"><!-- Starts the "Arts" dropdown menu-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Cultural
                      <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                       <% @cultural.each do |club| %> 
                       <li><a href="/clubs/<%= club.id %>"><%= club.name %></a></li>
                       <% end %>  
                  </ul>
              </li><!--Ends dropdown menu-->
              <li class="dropdown" id="menu1"><!-- Starts the "Arts" dropdown menu-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Sciences
                      <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                       <% @sciences.each do |club| %> 
                       <li><a href="/clubs/<%= club.id %>"><%= club.name %></a></li>
                       <% end %>  
                  </ul>
              </li><!--Ends dropdown menu-->
              <li class="dropdown" id="menu1"><!-- Starts the "Arts" dropdown menu-->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Student Services
                      <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                       <% @services.each do |club| %> 
                       <li><a href="/clubs/<%= club.id %>"><%= club.name %></a></li>
                       <% end %>  
                  </ul>
              </li><!--Ends dropdown menu-->

            </ul>
        </div>
      </div>
    </div>
  </div>