<!DOCTYPE html>
<html>
<head>
  <title>Harbingernews</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "buttons", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css"><%= yield :style %></style>
</head>
<body>

  <div id="content">
  
  <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div id="footer_spacer"></div>
	</div><!-- end "content"-->
	 
	<%= render 'layouts/footer' %>
	
</body>
</html>
