<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><% if content_for?(:title) %> | <% end %>Harbinger News Online</title>
  <%= favicon_link_tag %>
  
  <%= csrf_meta_tags %>
  
  <!-- Mobile Display Meta Tags -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="img/Apple-Icon.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/Apple-Icon-Retina.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css %>
  
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  
  <!-- Google Analytics -->
  <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35687930-1']);
		_gaq.push(['_trackPageview']);
		(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	</script>
  
</head>
<body>

  <div id="content">
    <%= render 'layouts/header' %>
    <%= yield :above_container %>
    <div class="container">
    <div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true" style = "height: 500px; width: 600px; margin-left: -300px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Konami Code!</h3>
        </div>
        <div class="modal-body" style = "height: 100% !important;">
        </div>
      </div>
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div id="footer_spacer"></div>
	</div><!-- end "content"-->
	 
	<%= render 'layouts/footer' %>
	<%= yield :js_bottom %>
</body>
</html>
