<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><% if content_for?(:title) %> | <% end %>Harbinger News Online</title>
  <%= favicon_link_tag %>
  
  <%= csrf_meta_tags %>
  
  <!-- Mobile Display Meta Tags -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="theme-color" content="#466843">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <%= stylesheet_link_tag "material" %>
  <%= stylesheet_link_tag "material_style" %>
  <%= yield :css %>
  
  
  <!-- Google Analytics -->
  <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35687930-1']);
		_gaq.push(['_trackPageview']);
		(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	</script>
  
</head>
<body>

  
    <%= render 'layouts/header' %>
   

      
      <%= yield %>
      
      
      
      
    <!-- Dev Hash if needed  <%= debug(params) if Rails.env.development? %> -->
    
    
		 
	<%= render 'layouts/footer' %>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<%= javascript_include_tag "materialize" %>
  <%= javascript_include_tag "init" %>

</body>
</html>
