<!DOCTYPE html>
<html>
<head>
  <title>Harbingernews</title>
  <%= stylesheet_link_tag    "sports_index", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css"><%= yield :style %></style>
</head>
<body>

  <div id="content">
  
  <%= render 'layouts/header' %>
  
    <%= yield %>

		<div id="footer_spacer"></div>
	</div><!-- end "content"-->
	 
	 <%= render 'layouts/footer' %>
	
</body>
</html>
